body {
    background: #374151
}

.form-container {
    margin-top: 100px;
    font-family: 'Indie Flower', cursive;
    display: flex;
    justify-content: center;
    color: #EEE
}

h1 {
    font-size: 50px;
    text-align: center;
}

#spacer {
    margin-top: 20px;
    font-size: 1.5em;
}

#no-spacer {
    font-size: 1.5em;
    margin-top: 20px;
}

#no-spacer input {
    width: 50px;
}

input { 
    /* padding: 5px; */
    width: 300px;
    text-align: center;
}

select{
    /* padding: 5px; */
    /* margin-right: 5px; */
    width: 300px;
    text-align: center;
}

input, select {
    /* appearance: none; */
    border: none;
    outline: none;
    background: none;
    color: #EEE;
}

::placeholder {
    font-size: 1.5rem;
    font-family: 'Indie Flower', cursive;
}

.all-input {
    background-color: #111827; 
    padding: 0.8rem;
    border-radius: 1rem;
    margin-left: 10px;
}

.select {
    background-color: #111827;
    padding: 0.8rem;
    border-radius: 1rem;
    margin-top: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 1rem;
}

label {
    font-size: 1.5em;
}

.number-value {
    width: 20px;
    background-color: #111827;
    padding: 0.8rem;
    border-radius: 1rem;
    color: #EEE;
}

.add-remove {
    width: 30px;
}

.submit-button {
    color: #EEE;
    margin-top: 20px;
    font-size: 20px;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(180deg, #EC4899, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

